.resetPassword-page {
  margin-top: 20px;
}

.resetPassword-header {

}

.resetPassword-label {
  padding-top: 10px;
  font-size: 20px;
}

.resetPassword-textField {
  padding-top: 20px;
}

.resetPassword-btn {
  padding-top: 20px;
}
